<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="text-center">
          <div class="four_zero_four_bg">
            <!-- <h1 class="text-center ">500</h1> -->
          </div>
          <div class="contant_box_404">
            <p class="display-4">
              Oooops! Sorry, Internal Server Error.
            </p>
            <p class="lead"> That is, something went terribly wrong.</p>
            <p class="lead">Problem it's me, not you. The website we were visiting fainted suddenly. Let us pray for it's recovery. Don't worry, we've been reported about that.</p>
            <a href="" class="link_404 btn green">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>