<h6>Your Orders being preparing ({{list.length}})</h6>

<div class="card border mb-4" *ngFor="let item of list">
  <div class="card-header bg-white border-bottom d-md-flex justify-content-md-between align-items-center">
    <div class="d-flex align-items-center">
      <div class="icon-lg bg-light rounded-circle flex-shrink-0">
        <i class="bi bi-shop"></i>
      </div>
      <div class="ms-2">
        <h6 class="card-title mb-0">To {{item.address.city}}, {{item.address.phoneNumber}}</h6>
        <ul class="nav nav-divider small">
          <li class="nav-item">Order ID: {{item._id}}</li>
        </ul>
      </div>
    </div>
    <div class="mt-2 mt-md-0">
      <a class="btn btn-primary mb-0" [routerLink]="['/account/track-order/', item._id]">
        Track
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-sm-6 col-md-4">
        <span>Order Date / Time</span>
        <h6 class="mb-0">{{item.orderDate|date:"medium"}}</h6>
      </div>

      <div class="col-sm-6 col-md-4">
        <span>Deliver Date / Time</span>
        <h6 *ngIf="item.status == 'pending' || item.status == 'preparing'" class="mb-0">Still Preparing ...</h6>
        <h6 *ngIf="item.status == 'ondelivery' || item.status == 'completed'" class="mb-0">{{item.deliverDate |date :"medium"}}</h6>
        <h6 *ngIf="item.status == 'canceled'" class="mb-0"></h6>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center">
          <span>Payment Method : </span>
          <h6 class="mb-0"> &NonBreakingSpace; {{item.paymentMethod |uppercase}}</h6>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <span>Total Price : </span>
          <h6 class="mb-0"> &NonBreakingSpace; {{item.totalPrice | currency}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>