<div class="pt-2 pb-2 d-block d-lg-none bg-white col-12">
	<ul class="nav nav-pills-primary-soft flex-row justify-content-center align-items-center">
		<li class="nav-item">
			<div class="text-center d-flex align-items-center">
				<!-- Avatar -->
				<div class="avatar mb-1">
					<img class="avatar-img rounded-circle border border-2 border-white" [src]="user?.imgURL">
				</div>
				<h6 class="mb-0 text-capitalize">{{user?.name}}</h6>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/account/profile']" routerLinkActive="active">
				<i class="bi bi-person fa-fw me-2"></i>My Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/account/my-order']" routerLinkActive="active">
				<i class="bi bi-ticket-perforated fa-fw me-2"></i>My Orders</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/account/my-addresses']" routerLinkActive="active">
				<i class="bi bi-people fa-fw me-2"></i>My Address</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/account/my-payment']" routerLinkActive="active">
				<i class="bi bi-wallet fa-fw me-2"></i>Payment Details</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/account/settings']" routerLinkActive="active">
				<i class="bi bi-gear fa-fw me-2"></i>Settings</a>
		</li>
	</ul>
</div>
<section class="pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-xl-3 d-lg-block d-none">
				<div class="card bg-white w-100">
					<div class="card-body p-3">
						<!-- Avatar and content -->
						<div class="text-center mb-3">
							<!-- Avatar -->
							<div class="avatar avatar-xl mb-2">
								<img class="avatar-img rounded-circle border border-2 border-white" [src]="user?.imgURL"
									alt="">
							</div>
							<h6 class="mb-0 text-capitalize">{{user?.name}}</h6>
							<a href="mailto:"
								class="text-decoration-none text-reset text-primary-hover">{{user?.email}}</a>
							<hr>
						</div>

						<!-- Sidebar menu item START -->
						<ul class="nav nav-pills-primary-soft flex-column">
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/account/profile']" routerLinkActive="active"><i
										class="bi bi-person fa-fw me-2"></i>My Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/account/my-order']" routerLinkActive="active"><i
										class="bi bi-ticket-perforated fa-fw me-2"></i>My Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/account/my-addresses']" routerLinkActive="active"><i
										class="bi bi-people fa-fw me-2"></i>My Address</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/account/my-payment']" routerLinkActive="active"><i
										class="bi bi-wallet fa-fw me-2"></i>Payment Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [routerLink]="['/account/settings']" routerLinkActive="active"><i
										class="bi bi-gear fa-fw me-2"></i>Settings</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-xl-9">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</section>