<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../../../assets/clever-primary.svg" alt="...">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>

        <div class="btns" *ngIf="LoggedUser==null">
          <!-- <button class="btn bg-gradient-dark w-100 px-3 mb-2 active" data-class="bg-transparent"
            routerLink="/account/register" routerLinkActive="active">Register</button> -->
          <button class="btn bg-gradient-info w-100 px-3 my-auto" data-class="bg-white"
            [routerLink]="['/account/login','/home']" routerLinkActive="active">Join US</button>
        </div>

        <li class="nav-item dropdown" *ngIf="LoggedUser != null">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome {{LoggedUser.name}}
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="LoggedUser.role == 'vendor'"><a class="dropdown-item" routerLink="/vendor/home"
                routerLinkActive="active">Go To Dashbourd</a></li>
            <li><a class="dropdown-item" routerLink="/account/profile" routerLinkActive="active">Profile</a></li>
            <li><a class="dropdown-item" (click)="logOut()">LogOut</a></li>
          </ul>
        </li>
        <li *ngIf="LoggedUser != null" class="nav-item">
          <a class="nav-link" routerLink="/cartlist" routerLinkActive="active">
            <span class="position-relative text-primary p-1">
              <i style="font-size: 20px;" class="bi bi-cart-check-fill"></i>
              <span *ngIf="cart>0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                {{cart}}
              </span>
            </span>
          </a>
        </li>
        <li *ngIf="LoggedUser != null" class="nav-item">
          <a class="nav-link" routerLink="/wishlist" routerLinkActive="active">
            <span class="position-relative text-danger p-1">
              <i style="font-size: 20px;" class="text-danger bi bi-heart-fill"></i>
              <span *ngIf="wish>0"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{wish}}
              </span>
            </span>
          </a>
        </li>
      </ul>
      <!-- <div class="d-flex">
          <input class="form-control me-2" type="text" [(ngModel)]="clientName"  aria-label="Search">
        </div> -->
    </div>
  </div>
</nav>